@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
:root {
	--base-gray: rgb(107, 114, 128); 	/*text-gray-500*/
	--highlight-gray: rgb(55, 65, 81); /*text-gray-700*/
	--disable-gray: rgb(156,163,175); /*text-gray-400*/
	--border-gray: rgb(209, 213, 219);  /*border-gray-300*/
	--line-gray: rgb(229, 231, 235); /*border-gray-200*/

	--base-color: rgb(239, 68, 68);	/*bg-red-500*/
	--base-color-light: rgb(252, 165, 165); /*bg-red-300*/
	--base-color-strong: rgb(220, 38, 38); /*bg-red-600*/
}
